
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 1);
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.flexItem {
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-4 {
  width: 33.3%;
  padding: 0 15px;
}

.col-6 {
  width: 50%;
  padding: 0 15px;
}

.col-3 {
  width: 25%;
  padding: 0 15px;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  color: #00246b;
  font-family: " Roboto Condensed" sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  font-style: Bold;
  padding-bottom: 70px;
}
@media screen and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 90%;
  }

  .title {
    font-size: 36px;
  }

  .col-6 {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  .pageNavigation {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
  .title {
    font-size: 36px;
    text-align: start;
    padding-bottom: 30px;
  }
}